body{
    background-color: rgb(24, 26, 27);
    color:#b0c4de;
    width:90%;

    margin-left: auto;
    margin-right: auto;
    
}
h1, h2{
    text-align: center;

}

h1{
    border:solid;
    border-color: #F7e7Ce;
}
table, td{
    border: solid;
    border-color: #F7e7Ce;;
    border-collapse: collapse;
    text-align: center;
}


a{
    text-decoration: none;
    color: #b0c4de;
}

li.Sommaire{
    list-style-type: none;
    border: red;
}