body{
    background-color: aliceblue;
    margin-left: 12%;
    margin-right: 12%;
}

h1{
    text-align: center;
    color: blue;
}

h3{
    font-display: bold;
}

form{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
button {
    display: block;
    margin: 0 auto;
}