* {
  box-sizing: border-box;    /* les tailles sont calculées à partir des bordures et pas à partir du contenu  */
}

html {
  font-family: Avenir, Helvetica;
  font-size: 100%;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 10vw);  /* 5 colonnes de 10% de l'écran */
  grid-template-rows: repeat(5, 10vw);   /* 5 lignes de 10% de l'écran */
  justify-content: center;  /* alignement horizontal */
  //align-content: center;     /* alignement vertical */
  grid-gap: 2vw;
  min-height: 90vh;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: calc(2vw + 10px);
}

li {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 4px solid black;
  display: flex;    // pour positionner les spans
  align-items: center;
  justify-content: center; 
}

li span {
    margin-top: 0.4rem; }

li:nth-child(1) {
  grid-row: 1;
  grid-column: 1; }

li:nth-child(2) {
  grid-row: 1;
  grid-column: 2; }

li:nth-child(3) {
  grid-row: 1;
  grid-column: 3; }

li:nth-child(4) {
  grid-row: 1;
  grid-column: 4; }

li:nth-child(5) {
  grid-row: 1;
  grid-column: 5; }

li:nth-child(6) {
  grid-row: 2;
  grid-column: 5; }

li:nth-child(7) {
  grid-row: 3;
  grid-column: 5; }

li:nth-child(8) {
  grid-row: 4;
  grid-column: 5; }

li:nth-child(9) {
  grid-row: 5;
  grid-column: 5; }

li:nth-child(10) {
  grid-row: 5;
  grid-column: 4; }

li:nth-child(11) {
  grid-row: 5;
  grid-column: 3; }

li:nth-child(12) {
  grid-row: 5;
  grid-column: 2; }

li:nth-child(13) {
  grid-row: 5;
  grid-column: 1; }

li:nth-child(14) {
  grid-row: 4;
  grid-column: 1; }

li:nth-child(15) {
  grid-row: 3;
  grid-column: 1; }

li:nth-child(16) {
  grid-row: 2;
  grid-column: 1; }

input[type=checkbox]:checked ~ ul li span {
  margin-top: 4vw;
}

input[type=checkbox]:checked ~ ul li:nth-child(2),
input[type=checkbox]:checked ~ ul li:nth-child(3),
input[type=checkbox]:checked ~ ul li:nth-child(4) {
  transform: rotate(180deg);
  background: linear-gradient(to bottom, #21A55B 0px, #21A55B 20%, black 20%, black calc(20% + 4px), white calc(20% + 4px), white 100%);
}

input[type=checkbox]:checked ~ ul li:nth-child(6),
input[type=checkbox]:checked ~ ul li:nth-child(7),
input[type=checkbox]:checked ~ ul li:nth-child(8) {
  transform: rotate(270deg);
  background: linear-gradient(to bottom, #EA8B39 0px, #EA8B39 20%, black 20%, black calc(20% + 4px), white calc(20% + 4px), white 100%);
}

input[type=checkbox]:checked ~ ul li:nth-child(12),
input[type=checkbox]:checked ~ ul li:nth-child(11),
input[type=checkbox]:checked ~ ul li:nth-child(10) {
  background: linear-gradient(to bottom, #C33C83 0px, #C33C83 20%, black 20%, black calc(20% + 4px), white calc(20% + 4px), white 100%);
}

input[type=checkbox]:checked ~ ul li:nth-child(16),
input[type=checkbox]:checked ~ ul li:nth-child(15),
input[type=checkbox]:checked ~ ul li:nth-child(14) {
  transform: rotate(90deg);
  background: linear-gradient(to bottom, #FFEF36 0px, #FFEF36 20%, black 20%, black calc(20% + 4px), white calc(20% + 4px), white 100%);
}

input[type=checkbox]:checked ~ ul li:nth-child(1) span {
  transform: rotate(135deg);
  margin-top: 0;
}

input[type=checkbox]:checked ~ ul li:nth-child(5) span {
  transform: rotate(225deg);
  margin-top: 0;
}

input[type=checkbox]:checked ~ ul li:nth-child(9) span {
  transform: rotate(315deg);
  margin-top: 0;
}

input[type=checkbox]:checked ~ ul li:nth-child(13) span {
  transform: rotate(45deg);
  margin-top: 0;
}



